[Unit]
Description=block GFW detecting
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=3
WorkingDirectory=/home/ubuntu/iptables
ExecStart=/home/ubuntu/iptables/selfhelp-iptables start -u yourUserPass -a yourAdminPass -p youProtectPort

[Install]
WantedBy=multi-user.target